<div class="custom-background-v2 flex flex-col">
    <!-- Header -->
    <h1 class="text-5xl flex place-content-center my-4 gap-2">New Lifecycle Hooks!
        <span class="text-[#7f0cf1] underline decoration-[#f20754]-500/30">#Angular V17</span>
    </h1>
    <div hlmSeparator orientation="horizontal" class="mb-4"></div>

    <!-- Informations -->
    <div class="flex mb-4 gap-4 px-10 py-3">
        <div class="custom-background w-1/2 bg-white rounded px-4 py-2 h-auto m-auto">
            <!-- title -->
            <h1 class="text-2xl font-medium text-[#7f0cf1]">
                #
                <span class="text-[#7f0cf1] font-bold">afterRender</span>
                &
                <span class="text-[#fe31d2] font-bold">afterNextRender</span>
            </h1>
            <hr>
            <!-- content -->
            <p class="my-2">
                <img src="../../../assets/lifecycle-hooks-1.png" class="my-3" />
            </p>

            <a href="https://angular.dev/guide/components/lifecycle#afterrender-and-afternextrender" target="_blank"
                class="outline text-3xl">https://angular.dev/guide/components/lifecycle#afterrender-and-afternextrender
            </a>
        </div>
    </div>
</div>