<div class="custom-background-v2 flex flex-col h-auto">
    <!-- Header -->
    <h1 class="text-5xl flex place-content-center my-4 gap-2">
        <span class="text-[#7f0cf1] font-bold">Esbuild</span>
        &
        <span class="text-[#fe31d2] font-bold">Vite</span>
        by default in projects!
        <span class="text-[#fe31d2] underline decoration-[#f20754]-500/30">#Angular V17</span>
    </h1>
    <div hlmSeparator orientation="horizontal" class="mb-4"></div>

    <!-- Informations -->
    <div class="flex mb-4 gap-4 px-10 py-3">
        <div class="custom-background w-1/2 bg-white rounded px-4 py-2 h-auto m-auto">
            <h1 class="text-2xl font-medium text-[#7f0cf1]">
                #
                <span class="text-[#7f0cf1] font-bold">Esbuild</span>
                &
                <span class="text-[#fe31d2] font-bold">Vite</span>
            </h1>
            <hr>
            <p class="my-2">
                In modern frontend development, build tools play an indispensable role in creating efficient and fast
                web applications. Esbuild and Vite are two such emerging tools that have caught developers attention
                due to their speed and simplicity.
                <br /> <br />
                Esbuild provides native support for CSS and TypeScript
                without the need for plugins. Vite, on the other hand, handles CSS and TypeScript through its plugin
                ecosystem
                <br /> <br />
                <span class="font-bold">
                    Vite pre-bundles dependencies using esbuild. Esbuild is written in Go and pre-bundles dependencies
                    10-100x faster than JavaScript-based bundlers.
                </span>
            </p>
            <h2 class="text-2xl italic my-2">
                Performance Improvements Reported
            </h2>
            <hr>
            <ul class="list-disc px-3 my-2 text-sm flex flex-col gap-2">
                <li>
                    Build Time Improvement
                    <img src="../../../assets/esbuild-vite-1.png" class="my-2" />
                </li>
                <li>
                    Combine this with SSR and SSG
                    <img src="../../../assets/esbuild-vite-2.png" class="my-2" />
                </li>
                <li>
                    Refresh loop for Ng serve
                    <img src="../../../assets/esbuild-vite-3.png" class="my-2" />
                </li>
            </ul>
        </div>
    </div>

</div>