<div class="custom-background-v2 flex flex-col h-auto">
  <!-- Header -->
  <h1 class="text-5xl grid place-content-center my-4">
    Standalone Components!
  </h1>
  <div hlmSeparator orientation="horizontal" class="mb-4"></div>

  <img src="../../../assets/standalond-1.png" class="my-2 w-50 rounded m-auto" />

  <!-- General Knowledge -->
  <spartan-generic-accordion [firstItem]=" firstItem" [secondItem]="secondItem" [thirdItem]="thirdItem"
    [fourthItem]="fourthItem" class="my-3"></spartan-generic-accordion>
</div>