<div class="custom-background-v2 flex flex-col h-auto">
    <!-- Header -->
    <h1 class="text-5xl flex place-content-center my-4 gap-2">
        <span class="text-[#fe31d2]">Self Closing Tags /</span>
        <span class="text-[#7f0cf1]">/ Marking Inputs as Required</span>
    </h1>
    <div hlmSeparator orientation="horizontal" class="mb-4"></div>

    <!-- Example -->
    <div class="flex mb-4 gap-4 px-10 py-3">
        <!-- Self Closing Tags -->
        <div class="w-1/2 bg-white rounded px-4 py-2 h-auto">
            <h1 class="text-2xl font-medium text-[#7f0cf1]"># Self Closing Tags</h1>
            <hr class="my-1">
            <p class="my-2">
                A highly requested feature that are present in Angular <span class="text-[#fe31d2]">#v16.0</span>, but
                was
                introduced from Angular <span class="text-[#fe31d2]">#v15.1</span> allows
                us to use self-closing tags for components in Angular templates.
                <br />
                It's a small developer experience improvement that could save us some typing!
            </p>
            <h3 class="text-xl">Now we can replace:</h3>
            <hr>
            <p class="text-[#fe31d2] mx-3 my-3">{{example()}}</p>
            <h3 class="text-xl">with this:</h3>
            <hr>
            <p class="text-[#7f0cf1] mx-3 my-3">{{example2()}}</p>
        </div>

        <!-- Marking Inputs as Required -->
        <div class="w-1/2 bg-white rounded px-4 py-2 h-auto">
            <h1 class="text-2xl font-medium text-[#fe31d2]"># Customizing Inputs</h1>
            <hr class="my-1">
            <p class="my-2">
                The &#64;Input decorator accepts a config object that lets you change the way that input works.
            </p>
            <p class="text-xl">Required inputs</p>
            <hr>
            <p class="my-2">You can specify the required option to enforce that a given input must always have a value.
            </p>
            <img src="../../../assets/input-1.png" class="my-2" />
            <p>
                If you try to use a component without specifying all of its required inputs, Angular reports an error at
                build-time.
            </p>
        </div>
    </div>

    <!-- Additional informations -->
    <div class="flex mb-4 gap-4 px-10 m-auto">
        <div class="w-1/1 bg-white rounded px-4 py-2 h-auto">
            <!-- title -->
            <h1 class="text-2xl font-medium text-[#7f0cf1]"># Additional informations
                <span class="text-[#fe31d2]">about Inputs</span>
            </h1>
            <hr class="my-1">
            <br />

            <!-- aliases -->
            <span class="text-[#7f0cf1] text-xl">#1</span>
            <p class="text-xl">Input aliases</p>
            <hr>
            <p class="my-2">You can specify the alias option to change the name of an input in templates.</p>
            <img src="../../../assets/input-2.png" class="my-2" />
            <img src="../../../assets/input-3.png" class="my-2" />
            <p class="my-2">
                This alias does not affect usage of the property in TypeScript code.
                <br />
                While you should generally avoid aliasing inputs for components, this feature can be useful for renaming
                properties while preserving an alias <br /> for the original name or for avoiding collisions with the
                name of
                native DOM element properties.
            </p>
            <br />

            <!-- transforms -->
            <span class="text-[#fe31d2] text-xl">#2</span>
            <p class="text-xl">Input transforms</p>
            <hr>
            <p class="my-2">You can specify a transform function to change the value of an input when it's set by
                Angular.</p>
            <img src="../../../assets/input-4.png" class="my-2" />
            <img src="../../../assets/input-5.png" class="my-2" />
            <p class="my-2">
                In the example above, whenever the value of systemVolume changes, Angular runs trimString and sets label
                to the result.
                <br />

                The most common use-case for input transforms is to accept a wider range of value types in templates,
                often including null and undefined.
                <br />

                Input transform function must be statically analyzable at build-time. You cannot set transform functions
                conditionally or as the result <br /> of an expression evaluation.
                <br />

                Input transform functions should always be pure functions. Relying on state outside of the transform
                function can lead to
                <br /> unpredictable behavior.
            </p>

            <!-- others -->
        </div>
    </div>
</div>